@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  font-family: 'Roboto', serif;
  margin: 0;
}

.router-outlet-container {
  background-color: whitesmoke;
  padding: 5px;
  margin: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.router-outlet-content {
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}
